$font-stack:    Helvetica, sans-serif;
$primary-color:  rgb(42, 136, 165);

body {
  font-family:  $font-stack;
  background-color: $primary-color;
}
html,
body {
  height: 100%;
}
button{
  @extend %bar-height;
  background-color: cadetblue;
  font-family : $font-stack;
  border-right: 5px;
  width: 50px;
}
select {
  @extend %bar-height;
  font-family: $font-stack;
  background-color: cadetblue;
  margin-left: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
%bar-height {
  line-height: 30px;
  text-align: center;
  // color: white;
  height: 30px;

}
.myProgress {
  @extend %bar-height;
  background-color: #4caf50;
}
.red-bar {
  @extend %bar-height;
  background-color: red !important;
}
.space {
  margin-bottom: 20px;
}
